// Toolkit styles
@import 'partials/variables';
@import 'partials/functions';
@import 'partials/mixins';
@import 'partials/utility';
@import 'partials/fonts';
@import 'partials/header';
@import 'partials/signin';
@import 'partials/button';
@import 'partials/form';
@import 'partials/select';
@import 'partials/input';
@import 'partials/table';
@import 'partials/typography';
@import 'partials/radio';
@import 'partials/list';
@import 'partials/footer';

*, 
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Metric";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  box-sizing: border-box;
} 