// Toolkit styles
@import "partials/variables";
@import "partials/functions";
@import "partials/bootstrap/bootstrap-grid";
@import "partials/mixins";
@import "partials/utility";
@import "partials/fonts";
@import "partials/typography";
@import "partials/header";
@import "partials/signin";
@import "partials/button";
@import "partials/button--social";
@import "partials/form";
@import "partials/select";
@import "partials/input";
@import "partials/table";
@import "partials/radio";
@import "partials/checkbox";
@import "partials/list";
@import "partials/footer";
@import "partials/icons";
@import "partials/breadcrumbs";
@import "partials/brand-rule";
@import "partials/anchor";
@import "partials/carousel";
@import "partials/support";
@import "partials/cta";
@import "partials/cards";
@import "partials/featured-product";
@import "partials/page-header";
@import "partials/product-grid";
@import "partials/product-list";
@import "partials/filter";
@import "partials/range";
@import "partials/carousel-owl";
@import "partials/solution";
@import "partials/top-sellers";

body {
  font-family: $font-family;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
