<h2 class="f-section__heading">Typography</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim sunt sapiente molestias, sed dicta inventore consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate reiciendis.</p>

<h1 class="hpe-headline hpe-headline--xlarge hpe-headline--strong">XL Headline</h1>
<h1 class="hpe-headline hpe-headline--xlarge">XL Headline</h1>
<h2 class="hpe-headline hpe-headline--large hpe-headline--strong">Large Headline</h2>
<h2 class="hpe-headline hpe-headline--large">Large Headling</h2>
<h3 class="hpe-headline hpe-headline--medium hpe-headline--strong">Medium Headine</h3>
<h3 class="hpe-headline hpe-headline--medium">Medium Headline</h3>
<h4 class="hpe-headline hpe-headline--small hpe-headline--strong">Small Headline</h4>
<h4 class="hpe-headline hpe-headline--small">Small Headline</h4>
