a,
a:visited,
a:active {
  color: $dark-grey-1;

  &:hover {
    color: $black;
  }
}

a.hpe-anchor {
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;

  &--primary {
    color: $brand;

    &:hover {
      color: $brand;

      .hpe-icon {
        transform: translateX(0.1875rem);
      }
    }
  }

  .hpe-icon {
    position: relative;
    font-size: 1.2em;
    bottom: -0.225em;
    margin-right: 0.75rem;
    transition: all $transition--normal ease-in-out;
  }

  &--reverse {
    color: $black;

    .hpe-icon {
      color: $brand;
      margin-right: 0;
      margin-left: 0.5rem;
    }
  }
}
