.hpe-brand-rule {
  &::after {
    content: "";
    background: $brand;
    margin: 1.25rem 0 2rem;
    height: 0.3125rem;
    width: 5rem;
    border: 0;
    display: block;
  }

  &--light {
    &::after {
      background-color: $light-grey-4;
    }
  }

  &--inverse {
    &::after {
      background-color: $white;
    }
  }
}
