.hpe-breadcrumbs {
  padding: 1rem $bootstrap-gutter;
  margin: 0;
  list-style: none;
  margin: auto;
  max-width: $ex-large;
  width: 100%;

  &__item {
    display: inline;

    &::after {
      content: "/";
      margin: 0 .25em;
    }
    &--current {
      &::after {
        content: none;
      }
    }
  }
  
  &__link {
    text-decoration: none;
    color: $dark-grey-4;

    &:hover {
      color: $black;
    }
  }
}
