
//ul
.hpe-breadcrumbs-wrapper {

}

.hpe-breadcrumbs-inner {
    height: 40px;
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;
}
.hpe-breadcrumbs-list {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
}

//li
.hpe-breadcrumbs-listitem {
    display: inline-block;
    padding-right: 3px;
    margin: 0 auto;
    max-width: $ex-large;

    a {
        color: $dark-grey-4;
        display: inline-block;
        text-decoration: none;

        &:hover {
            color: $dark-grey-1;
        }
    }

    &:after {
        content: "/";
        color: $dark-grey-4;
        display: inline-block;
        padding-left: 3px;
    }

    &:last-of-type {

        &:after {
            content: "";
        }
    }
}

.hpe-breadcrumbs-listitem--current {
    color: $dark-grey-1;
    display: inline-block;
    text-decoration: none;
}