.hpe-button {
  background-color: $brand;
  border: 2px solid $brand;
  border-radius: 0px;
  color: $white;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 24px;
  letter-spacing: 0.04167em;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: 120px;
  transition: 0.1s ease-in-out;
  padding: $button-padding;

  &--secondary {
    background-color: transparent;
    color: $dark-grey-1;
  }

  &:hover {
    box-shadow: 0px 0px 0px 2px #01a982;
  }
}

.hpe-button-reset {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

//sign in buttons

.hpe-sigin-button {
  padding-left: 56px;
  position: relative;
  width: 100%;
}

.hpe-social-linkedin {
  background-color: $linkedin-brand;
  min-height: 40px;
}

.hpe-social-google {
  background-color: $google-brand;
  min-height: 40px;
}
     
.hpe-signin-social-button {
  @include clearfix();
  color: $white;
  font-size: $hpe-font-size-med;
  padding: $button-padding;
  position: relative;
  text-align: center;
  width: 38%;
  
  &:first-child {
      float: left;
      width: 50%;
  }
  
  &:last-child {
      float: right;
      width: 50%;
  }
  
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

//set as global
.hpe-social-linkedin {
  background-color: $linkedin-brand;

  svg {

    &:before {
      content: '';
      border-right: 1px solid $white;
      display: block;
      padding-right: 10px;
    }
  }
}

// button text
.hpe-button-social-text {
  width: 70%;
}

.hpe-social-google {
  background-color: $google-brand;

  svg {
    height: 30px;
    position: absolute;
    left: 10px;
    top: 4px;
  }
}

//background image for svg
.hpe-button-bg--google {
  background-color: $white;
  border-radius: 3px;
  display: inline-block;
  height: 36px;
  width: 36px;

  position: absolute;
  top: 5px;
  left: 5px;
}