.hpe-button {
  background-color: $brand;
  border: $double-border solid $brand;
  border-radius: 0;
  color: $white;
  font-size: 1.1875rem;
  line-height: 24px;
  letter-spacing: 0.04167em;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: 7.5rem;
  transition: 0.1s ease-in-out;
  padding: $button-padding;

  &--secondary {
    background-color: transparent;
    color: $dark-grey-1;
  }

  &:hover {
    box-shadow: 0 0 0 $double-border $brand;
  }

  &--plain {
    width: auto;
    height: auto;
    min-width: 0;
    max-width: none;
    text-align: inherit;
    font-weight: inherit;
    color: $dark-grey-1;
    padding: 0;
    border: 0;
    background: none;

    &:hover {
      box-shadow: none;
    }
  }
  
}