.hpe-button {
  background-color: $brand;
  border: 2px solid $brand;
  border-radius: 0px;
  color: $white;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 24px;
  letter-spacing: 0.04167em;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: 120px;
  max-width: 384px;
  transition: 0.1s ease-in-out;
  padding: $button-padding;

  &--secondary {
    background-color: transparent;
    color: $dark-grey-1;
  }

  &:hover {
    box-shadow: 0px 0px 0px 2px #01a982;
  }
}

    
.hpe-sigin-button {
  width: 100%;
}

.hpe-social-linkedin {
  background-color: $linkedin-brand;
}

.hpe-social-google {
  background-color: $google-brand;
}
     
.hpe-signin-social-button {
  @include clearfix();
  color: $white;
  font-size: $hpe-font-size-med;
  padding: $button-padding;
  text-align: center;
  width: 38%;
  
  &:first-child {
      float: left;
  }
  
  &:last-child {
      float: right;
  }
  span {
    border: 1px solid $white;
    display: inline-block;
    width: 70%;
  }
}

.htp-sigin-social-button-icon {
  border-right: 1px solid $white;
}

//set as global
.hpe-social-linkedin {
  background-color: $linkedin-brand;
}
.hpe-social-google {
  background-color: $google-brand;
}