$card-background: transparentize($dark-grey-1, 0.25);

.hpe-slider {
	position: relative;

	&__list {
		display: flex;
		list-style: none;
		padding: 0;
		width: 100%;
		overflow: hidden;
	}

	&__item {
		height: 19rem;
		min-width: 14rem;
		background-color: $light-grey-2;
		margin-right: 0.5em;
	}

	&__button {
		position: absolute;
		top: 50%;
		background: transparentize($white, 0.6);
		font-size: 2rem;
		padding: 0.5rem;
		text-align: center;

		svg {
			margin-right: 0;
		}

		&--previous {
			left: 0;
		}

		&--next {
			right: 0;
		}
	}
}

.hpe-carousel {
	position: relative;
	height: 25rem;
	overflow: hidden;
	width: calc(100% + #{$bootstrap-gutter-double});
	background-color: $dark-grey-4;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	@include respond-to(large) {
		height: 42rem;
	}

	&__image {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		left: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: left $transition--normal ease-in-out;

		&--active {
			left: 0;
		}
	}

	&__content {
		width: 100%;
		color: $white;
		padding: 0 5rem;

		@include respond-to(medium) {
			padding: 0 8rem;
		}

		@media (min-width: $ex-large + 6rem) {
			padding: 0 $bootstrap-gutter;
		}
	}

	&__card {
		max-width: 38rem;
		padding: $bootstrap-gutter;
		background: $card-background;
	}

	&__description {
		@include respond-to(large) {
			font-size: 1.5rem;
		}
	}

	&__title {
		line-height: 0.9;
	}

	&__actions {
		display: flex;
		max-width: 38rem;
	}

	&__action-button {
		margin: $border-width $border-width 0 0;
		background: $card-background;
		padding: 0.5em 1rem 0.75rem;

		&:not(:first-child) {
			flex: 1 1 auto;
		}

		a.hpe-anchor {
			color: $white;
		}

		.hpe-icon {
			color: $brand;
		}
	}

	&__button {
		$button-size: 2rem;

		position: absolute;
		top: 50%;
		font-size: $button-size;
		margin-top: ($button-size / 2) * -1;
		padding: 0.5rem;
		text-align: center;
		color: $white;
		z-index: 100;

		@include respond-to(medium) {
			$button-size: 1.875rem;
			font-size: $button-size;
			margin-top: ($button-size / 2) * -1;
		}

		svg {
			margin-right: 0;
		}

		&--previous {
			left: 0;

			.hpe-carousel__image--active:first-of-type ~ & {
				display: none;
			}
		}

		&--next {
			right: 0;

			.hpe-carousel__image--active:last-of-type ~ & {
				display: none;
			}
		}
	}

	&__indicator {
		display: block;
		position: relative;
		height: 0.25em;
		width: 2.5em;
		background: $white;
		opacity: 0.65;
		margin: 0 0.25em 2rem;
		cursor: pointer;
		z-index: 100;

		// Active indicator
		.hpe-carousel__image--active + & {
			opacity: 1;
		}
	}
}
