@import "../../../../../node_modules/owl.carousel/src/scss/owl.theme.default";
@import "../../../../../node_modules/owl.carousel/src/scss/owl.carousel";

$button-offset: $ex-large + 11rem;

.owl-carousel {
  $button-size: 2.5rem;

  padding: 0 $button-size;
  margin-bottom: 4rem;

  @include respond-to(medium) {
    $button-size: 7.5rem;
    padding: 0 ($button-size - 1rem);
  }

  @include respond-to(ex-large) {
    $button-size: 7.5rem;
    padding: 0 ($button-size - 5rem);
  }

  @media (min-width: $button-offset) {
    padding: 0;
  }

  .hpe-card {
    width: 19rem;
  }

  .owl-nav {
    font-size: 1.5rem;

    @include respond-to(medium) {
      $button-size: 7.5rem;

      font-size: $button-size - 4rem;
    }

    button.owl-prev,
    button.owl-next {
      $button-size: 3.5rem;

      position: absolute;
      padding: 1rem !important; /* stylelint-disable-line declaration-no-important */
      top: 50%;
      margin-top: ($button-size / 2) * -1;
      height: $button-size;
      width: $button-size;
      display: block;
      background: transparentize($black, 0.25);
      color: white;
      box-shadow: $double-border $double-border 1.25rem 0 rgba(0, 0, 0, 0.25);

      @include respond-to(medium) {
        $button-size: 7.5rem;

        margin-top: ($button-size / 2) * -1;
        height: $button-size;
        width: $button-size;
      }
    }
  }
}

.owl-prev {
  left: 0;
  text-align: left;

  .hpe-icon {
    position: relative;
    top: -0.5em;
  }

  @media (min-width: $button-offset) {
    $button-size: 7.5rem;
    left: -($button-size - 2rem);
  }
}

.owl-next {
  right: 0;
  text-align: right;

  .hpe-icon {
    position: relative;
    top: 0.5em;
  }

  @media (min-width: $button-offset) {
    $button-size: 7.5rem;
    right: -($button-size - 2rem);
  }
}

.owl-stage,
.owl-item {
  display: flex;
}

.hpe-category-carousel {
  .owl-stage-outer {
    background-color: $dark-grey-1;
    background-image: linear-gradient(
      -180deg,
      rgba(119, 142, 156, 0.9) 1%,
      rgba(66, 85, 99, 0.9) 100%
    );
  }

  .hpe-card {
    background: none;
    padding: 0;
    margin: 0;

    &__body {
      position: relative;
      padding-top: 3rem;
    }

    &__image {
      position: relative;
      z-index: 1;
      top: 3rem;
    }
  }
}
