
//Black
@font-face {
    font-family: 'Metric';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-Black.woff') format('woff');
}
//Black Italic
@font-face {
    font-family: 'Metric';
    font-style: italic;
    font-weight: 800;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-BlackItalic.woff') format('woff');
}

//Bold
@font-face {
    font-family: 'Metric';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-Bold.woff') format('woff');
}

//Bold Italic
@font-face {
    font-family: 'Metric';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-SemiBold.woff') format('woff');
}

//SemiBold
@font-face {
    font-family: 'Metric';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-Semibold.woff') format('woff');
}

//SemiBold Italic
@font-face {
    font-family: 'Metric';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-SemiboldItalic.woff') format('woff');
}

//Regular
@font-face {
    font-family: 'Metric';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-Regular.woff') format('woff');
}

//Regular Italic
@font-face {
    font-family: 'Metric';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-RegularItalic.woff') format('woff');
}
//Thin
@font-face {
    font-family: 'Metric';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-Thin.woff') format('woff');
}

//Thin Italic
@font-face {
    font-family: 'Metric';
    font-style: italic;
    font-weight: 200;
    src: url('/assets/toolkit/fonts/MetricHPE-Web-ThinItalic.woff') format('woff');
}

body {
    font-family: "Metric", Arial, sans-serif !important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    box-sizing: border-box;
  }

// Default Color Palette (from Bootstrap)
$primary: #007bff !default;
$secondary: #6c757d !default;
$sucess: #28a745 !default;
$danger: #dc3545 !default;
$warning: #fd7e14 !default;
$info: #17a2b8 !default;
$light: #f8f9fa!default;
$dark: #343a40 !default;
$white: #fff !default;

// Responsive Breakpoints (from Bootstrap)
$small: 36rem !default;
$medium: 48rem !default;
$large: 64rem !default;
$ex-large: 75rem  !default;

$border-width: .0625rem !default;
$border-color: $dark !default;

$h1: 2.5rem;
$h2: 2rem;
$h3: 1.75rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 1rem;