.hpe-featured-product {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: $light-grey-1;
  padding: 2rem $bootstrap-gutter-double;

  @include respond-to(ex-large) {
    padding: 2rem 0;
  }

  &__content {
    padding: 0 0 $bootstrap-gutter-double;

    @include respond-to(ex-large) {
      padding: 0 $bootstrap-gutter $bootstrap-gutter-double;
    }
  }

  &__row {
    flex-direction: column-reverse;

    @include respond-to(large) {
      flex-direction: row;
    }
  }

  &__heading {
    flex: 0 0 100%;
  }

  &__details {
    font-size: 1.125rem;
  }

  &__product {
    min-height: 10rem;
    position: relative;
  }

  &__feature {
    display: flex;
    align-items: flex-start;
    margin: 1.5em 0;

    .hpe-icon {
      position: relative;
      margin-right: 0.5em;
      bottom: -0.125em;
      color: $brand;
    }
  }

  &__image {
    width: 100%;
    @include respond-to(large) {
      position: absolute;
      left: -15rem;
    }

    @include respond-to(ex-large) {
      left: -15rem;
    }
  }

  &__name {
    font-size: 1.5rem;
  }

  &__price {
    font-size: 1.875rem;
    color: $dark-grey-1;
  }

  &__badge {
    position: absolute;
    right: 2rem;
    top: 50%;
    margin-top: -3rem;
    background-color: $light-2;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    height: 6rem;
    width: 6rem;
    padding: 0.5rem;

    @include respond-to(medium) {
      font-size: 1.25rem;
      left: 10rem;
      top: 50%;
      margin-top: -4rem;
      height: 8rem;
      width: 8rem;
      padding: 1rem;
    }
  }

  &__meta {
    list-style: none;
    padding: 0;
    font-weight: 600;

    &-item {
      display: inline;

      &:not(:last-child)::after {
        content: "\2022";
        padding: 0 0.25em;
      }
    }
  }

  &__button {
    display: flex;
    align-items: flex-end;
    padding-bottom: $bootstrap-gutter-double;
  }
}
