//SemiBold
@font-face {
  font-family: 'Metric';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/toolkit/fonts/MetricHPE-Web-Semibold.woff') format('woff');
}

//SemiBold Italic
@font-face {
  font-family: 'Metric';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/toolkit/fonts/MetricHPE-Web-SemiboldItalic.woff') format('woff');
}

//Regular
@font-face {
  font-family: 'Metric';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/toolkit/fonts/MetricHPE-Web-Regular.woff') format('woff');
}

//Regular Italic
@font-face {
  font-family: 'Metric';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/toolkit/fonts/MetricHPE-Web-RegularItalic.woff') format('woff');
}
//Light
@font-face {
  font-family: 'Metric';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/toolkit/fonts/MetricHPE-Web-Light.woff') format('woff');
}

//Light Italic
@font-face {
  font-family: 'Metric';
  font-style: italic;
  font-weight: 200;
  src: url('/assets/toolkit/fonts/MetricHPE-Web-LightItalic.woff') format('woff');
}