.hpe-footer-wrapper {
    // @include section_padding('footer');
    background-color: $light-grey-1;
}

.hpe-footer {
    max-width: $ex-large;
    width: 100%;
    margin: 0 auto;
}

//footer titles for cols //h3
.hpe-footer-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.27777778;
    padding-bottom: 18px;
    text-transform: uppercase;
}

//sitemap list //ul
.hpe-footer-sitemap-list-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
}

//sitemap ul //li
.hpe-footer-sitemap-list-item {
    
}
//ul //li //a
.hpe-footer-sitemap-list-item-link {
    color: $dark-grey-1;
    display: block;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 8px;
    text-decoration: none;
}

//footer social icons
.hpe-footer-sitemap-list-item-social {
    display: inline-block;
    margin-right: 24px;

    &:hover {
        &:before {
            content: '';
            cursor: pointer;
            background-color: $dark-grey-3;
            display: block;
            width: 20px;
            height: 20px;
        }
    }

    &:last-child {
        margin-right: 0;
    }

    //placeholder for greyboxing
    &:before {
        content: '';
        background-color: $dark-grey-1;
        display: block;
        width: 20px;
        height: 20px;
    }
}

//localization
.hpe-footer-language-wrapper {
    @include clearfix();
    margin: 5rem 0;
    width: 100%;
}

//language displayed
.hpe-footer-language-wrapper-language {
    text-transform: uppercase;
}

//legal wrapper
.hpe-footer-legal-links-wrapper {
    padding: 0;
}

//legal wrapper list
.hpe-footer-legal-links-list {
    float: right;
}

//legal wrapper list item
.hpe-footer-legal-links-list-item {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 0;

    &:after {
        content: '|';
        margin: 0 5px 0 4px;
    }

    &:last-of-type {
        &:after {
            content: '';
            margin: 0;
        }
    }
}