.hpe-footer-wrapper {
    background-color: $light-grey-1;
    padding: 11.875rem 0 2.5rem 0;
}

.hpe-footer {
    max-width: $ex-large;
    width: 100%;
    margin: 0 auto;
}

//footer titles for cols //h3
.hpe-footer-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.27777778;
    margin: 0;
    padding: 0.9375rem 0;
    text-transform: uppercase;
}

//sitemap list //ul
.hpe-footer-sitemap-list-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
}

//sitemap ul //li
.hpe-footer-sitemap-list-item {
    
}
//ul //li //a
.hpe-footer-sitemap-list-item-link {
    color: $dark-grey-1;
    display: block;
    font-size: 1.12rem;
    line-height: 1.25;
    margin-bottom: 8px;
    text-decoration: none;
}

//footer social icons
.hpe-footer-sitemap-list-item-social {
    display: inline-block;
    margin-right: 24px;

    &:hover {
        
    }

    &:last-child {
        margin-right: 0;
    }
}

//localization
.hpe-footer-language-wrapper {
    @include clearfix();
    margin: 5rem 0;
    width: 100%;
}

//language displayed
.hpe-language-content {
    float: right;
    text-transform: uppercase;
}

//legal wrapper
.hpe-footer-legal-links-wrapper {
    float: right;
    padding: 0;
    text-align: right;
    width: 50%;
}

.hpe-legal-copyright {
    float: left;
    width: 50%;
}

//legal wrapper list
.hpe-footer-legal-links-list {
    margin: 0;
    padding: 0;
}

//legal wrapper list item
.hpe-footer-legal-links-list-item {
    display: inline-block;
    font-size: 1.125rem;
    line-height: 0;

    &:after {
        content: '|';
        margin: 0 5px 0 4px;
    }

    &:last-of-type {
        &:after {
            content: '';
            margin: 0;
        }
    }
}

.hpe-footer-logo {
    padding: 2rem 0;
    text-align: center;

    svg {
        width: 4rem;
        height: 4rem;

        fill: $brand;
        stroke: 0;
    }
}