.footer-wrapper {
    @include section_padding('footer');
    background-color: $light-grey-1;

    h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.27777778;
        padding-bottom: 18px;
        text-transform: uppercase;
    }

    //from HPE
    .footer-col {
        max-width: 185px;
        flex: 1 1 20%;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {
                color: #000;
                display: block;
                font-size: 16px;
                line-height: 1.25;
                margin-bottom: 8px;
                text-decoration: none;
            }
        }
    }

    .social {
        text-indent: -9999px;

    }
}