
.hpe-forgot-password-wrapper {
   padding-bottom: 3rem;
}

.hpe-forgot-password-content {
    font-size: $hpe-font-size-med-large;
    margin: auto 0;
    max-width: 25.5625rem;
}

//p rule is custom color
.hpe-forgot-password-paragraph {
    border-bottom: 1px solid #c6c9ca;
    margin-bottom: 3rem;
    padding: 1rem 0 15rem 0;
}
.hpe-forgot-password-email-address {
    display: block;
}

//font sizes tobe better classified with variations
.hpe-forgot-password-return-to-signin {
    color: $brand;
    padding-left: 47px;
    position: relative;
    font-size: 19px;
    font-weight: 600;
    text-align: left;
    text-decoration: none;

    svg {
        padding-right: 1rem;
        height: 48px;
        width: 48px;
        
        stroke: $brand;

        position: absolute;
        left: 0;
        top: -12px;
    }
}