
.hpe-forgot-password-wrapper {
   
}

.hpe-forgot-password-content {
    font-size: $hpe-font-size-med-large;
    margin: auto 0;
    max-width: 25.5625rem;
}

//rule is custom color
.hpe-forgot-password-paragraph {
    border-bottom: 1px solid #c6c9ca;
    padding: 1rem 0 15rem 0;
}
.hpe-forgot-password-email-address {
    display: block;
}

//font sizes tobe better classified with variations
.hpe-forgot-password-return-to-signin {
    color: $brand;
    font-size: 19px;
    font-weight: 600;
    text-align: left;
    text-decoration: none;

    svg {
        padding-right: 1rem;
    }
}