.hpe-guided-filter {
  margin-bottom: 3rem;
  background: $brand url("/assets/toolkit/images/guided-background.png") no-repeat;
  background-size: cover;

  &__title,
  &__question {
    padding: $bootstrap-gutter-double;
  }

  &__title {
    color: $white;
    flex: 0 0 40%;
    font-size: 1.25em;
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: .5rem;
  }

  &__question {
    margin: $double-border;
    background-color: $light-grey-1;
    flex: 1 1 auto;

    &-heading {
      font-size: 1.5rem;
      margin-bottom: .5rem;
    }
  }

  &__instructions {
    color: $dark-grey-4;
    margin: .5rem 0 1rem;
  }

  &__footer {
    padding-top: 1.5rem;
    text-align: right;
  }
}
