.hpe-header {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

$nav-padding: 30px;

.hpe-nav {
  background-color: $white;

  &__link {
    background: none;
    border: 0;
    color: $dark-grey-1;
    font-weight: 200;
    font-size: 20px;
    padding: 0 $nav-padding 0 0;
    text-decoration: none;

    &--icon {
        font-size: 1rem;
    }
  }

  &__tools, 
  &__main {
    display: inline-block;
  }

  &__tools {
    border-left: 1px solid $dark-grey-1;
    padding-left: $nav-padding;
  }
}
