$nav-padding: 1rem;
$header-height: 5.3125rem;

.hpe-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  margin: 0 auto;
  max-width: $ex-large;
  padding: 0;

  @include respond-to(medium) {
    padding: 0 $bootstrap-gutter;
  }

  .hpe-logo {
    width: 6.5rem;

    svg {
      width: 100%;
      height: auto;
    }

    @include respond-to(small) {
      width: 8rem;
    }
  }

  $button--large: 6.25rem;
  $button--small: 2.5rem;

  &__search {
    position: absolute;
    background: $white;
    height: $header-height;
    width: calc(100% - #{$button--small + $bootstrap-gutter});
    right: 200%;
    padding: 0 $bootstrap-gutter;
    z-index: 1;
    border-right: $border-width solid $light-grey-4;

    @include respond-to(small) {
      width: calc(100% - #{$button--large - $border-width});
    }

    @include respond-to(medium) {
      width: calc(100% - #{$button--large + (($bootstrap-gutter * 2) - $border-width)});
    }

    &--active {
      right: auto;
    }
  }
  
  &__search-input {
    font-weight: 200;
    border: 0;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 0;
    height: $header-height;

    @include respond-to(small) {
      font-size: 1.5rem;
    }
  }
}

.hpe-nav {
  background-color: $white;
  display: flex;
  align-items: center;

  &__link {
    background: none;
    border: 0;
    color: $dark-grey-1;
    font-weight: 200;
    font-size: 1.25em;
    margin: 0 $nav-padding 0 0;
    text-decoration: none;
    vertical-align: middle;

    &--icon {
      font-size: 1rem;
      padding: 0;
      position: relative;
      bottom: -.125rem;
    }
  }

  &__main {
    flex: 0 0 auto;
    overflow: hidden;

    .hpe-nav__link:not(:last-of-type) {
      display: none;

      @include respond-to(large) {
        display: inline-block;
      }
    }
  }

  &__tools {
    border-right: $border-width solid $dark-grey-1;
    padding: 0;
    height: 2.125rem;
    display: flex;
    align-items: center;
  }

  &__main {
    @include respond-to(small) {
      display: inline-block;
    }
  }

  &__menu {
    position: relative;
    align-self: center;
    margin-left: 1rem;
    z-index: 2;

    &-label {
      position: relative;
      display: none;

      @include respond-to(small) {
        display: inline-block;
      }

      &--active,
      &--inacgtive {
        position: absolute;
        left: 0;
        transition: opacity .1s linear;
      }
      
      &--active {
        opacity: 0;
      }
    }
  }

  &__search {
    @include respond-to(medium) {
      z-index: 2;
    }
  }
}

.hpe-active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -0.25em;
    right: -0.25em;
    display: block;
    background: $brand;
    height: 0.25em;
    width: 0.25em;
    border-radius: 50%;
  }
}

.hf-hmb-icon {
  display: inline-block;
  position: relative;
  left: 0;
  top: -$double-border;
  width: 1.125rem;
  height: 1.125rem;
  vertical-align: middle;
  margin-right: 1rem;
}

.hf-line {
  background: $brand;
  width: 1.375rem;
  height: $double-border;
  display: block;
  position: absolute;
  transition: top $transition--slow ease-in-out, bottom $transition--slow ease-in-out,
    transform $transition--slow ease-in-out, opacity $transition--slow ease-in-out;

  &:first-child {
    top: 0;
    transform: rotate(0);
  }

  &:nth-child(2) {
    top: 0.5rem;
    opacity: 1;
  }

  &:last-of-type {
    bottom: 0;
    transform: rotate(0);
  }
}

.hpe-nav__menu--active {
  .hf-line {
    &:first-child {
      top: .5rem;
      transform: rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-of-type {
      bottom: .5rem;
      transform: rotate(45deg);
    }
  }

  .hpe-nav__menu-label--inactive {
    opacity: 0;
  }

  .hpe-nav__menu-label--active {
    opacity: 1;
  }
}

.hpe-nav__responsive {
  .hpe-responsive {    
    &--small {
      @include respond-to(medium) {
        display: none;
      }
    }
  
    &--large {
      display: none;

      @include respond-to(medium) {
        display: inline-block;
      }
    }
  }  
}
