/*todo style the input animation
*/

.hpe-input {
	position: relative;

  input,
  select,
  textarea {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: $border-width solid $dark-grey-1;
    border-radius: 0;
    color: $dark-grey-1;
    display: block;
    font-size: 1rem;
    font-weight: 400;
		margin-bottom: 2rem;
    outline: none;
    padding: 1rem 0 .5em;
    transition: transition;
    width: 100%;

    &:focus {
      border-bottom: $border-width solid $light-1;
      outline: none;
      transition: $transition;
		}
	}
	
	&__label {
		top: .75em;
		position: absolute;
		color: $dark-grey-1;
		transition: font-size .1s linear, top .1s linear;
		cursor: text;
	}

	&--active {
		.hpe-input__label {
			top: -.5em;
			font-size: .75rem;
			color: $dark-grey-4;
		}
	}

	&--error {
		input, textarea {
			border-color: $critical;
		}
	}
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $dark-grey-1;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $dark-grey-1;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $dark-grey-1;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $dark-grey-1;
}
