/*todo style the input animation
*/

.input { 
	
  input, select, textarea {
		border: 1px solid $light-grey-4;
		border-radius: 0;
		color: $dark-grey-3;
		display: block;
		font-size: 1rem;
		font-weight: 600;
		height: 48px;
		line-height: 1.5;
		margin-bottom: 1rem;
		outline: none;
		padding: 5px 24px;
		transition: transition;
		width: 100%;

		
		cursor: pointer;
		background-color: white;
		background-repeat: no-repeat;
		background-size: 1em;

		&:focus {
			border: 1px solid $light-1;
			outline: none;
			transition: $transition;
		}
  }
}