// Breakpoint Map
//These are to be used with respond-to mixin. They are defined based on layout, not device.
//Default is 100% width, mobile style. Breakpoints override "mobile first" styles.
$breakpoints: (
  'small' : $small, 
  'medium' : $medium, 
  'large' : $large, 
  'ex-large' : $ex-large
);
// http://www.sitepoint.com/managing-responsive-breakpoints-sass/
@mixin respond-to($breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin section_padding($type:'') {
	padding: 1rem;

	@include respond-to ('small') {
		padding: 2rem;
  }
  
  @include respond-to ('large') {
    padding: 2.2rem;
  }

  @include respond-to ('ex-large') {
    padding: 2.4rem;
  }

	@if ($type== 'slim-bottom') {
    padding: 0 0.5rem;
    
  }
    
}

@mixin greybox ($type:'')  {
  background-color: $light-grey-4;
  display: inline-block;
  margin-right: 1rem;
  height: 40px; 
  width: 100px;

  @if ($type== 'omega') {
    margin-right: 0;
    
  }
}