nav {
    @include section_padding('nav');
    //todo research gotchas in flex
    width: 100%;
    
    //from HPE.com
    background-color: $white;
    height: 85px;
    max-width: 1530px;

    .logo, .nav-links {
        display: inline-block;
    }

    //todo better centering techniqu
    .logo {
        margin-top: -20px;
    }

    span {
        @include greybox();
    }

    .nav-links {
        color: $dark-grey-1;
        float: right;
        margin-top: -8px;

        a {
            color: $dark-grey-1;
            font-size: 20px;
            padding-right: 1rem;
            text-decoration: none;
        }
    }
}