nav {
    @include section-padding;
    background-color: $dark-grey-1;

    a {
        color: $white;
        padding-right: 1rem;


    }

    //todo research gotchas in flex
    width: 100%;

    span {
        @include greybox();
    }
}