.header {
    .header .hp_logo {
        float: left;
        margin-top: 8px;

        @include 
    }

    .header_container {
    height: 95px !important;
    width: 95% !important;
    max-width: 1425px;
    }
}