$popover-size: 25rem;
$triangle-size: 1rem;
$popover-color: $white;
$shadow: 0 $double-border 0.325rem rgba(0, 0, 0, 0.35);

.hpe-popover {
  display: none;
  position: absolute;
  width: $popover-size;
  left: -(($popover-size / 2) - 0.5rem);
  top: 3.5rem;
  background-color: $popover-color;
  padding: $bootstrap-gutter-double;
  z-index: 1000;
  box-shadow: $shadow;

  &::before {
    content: "";
    position: absolute;
    top: -$triangle-size;
    left: 50%;
    margin-left: -($triangle-size / 2);
    width: 0;
    height: 0;
    border-left: $triangle-size solid transparent;
    border-right: $triangle-size solid transparent;
    border-bottom: $triangle-size solid $popover-color;
  }
}

@supports (filter: drop-shadow($shadow)) {
  .hpe-popover  {
    filter: drop-shadow($shadow);
    box-shadow: none;
  }
}
