.hpe-product-grid {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem $bootstrap-gutter;
  background: $light-grey-1;

  &__row {
    margin-bottom: 3em;
    background-color: $white;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__products {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__section-title {
    font-size: 2rem;
  }

  &__item {
    display: inline-block;
    text-align: center;
    padding: $bootstrap-gutter-double;
  }

  &__image {
    width: auto;
    height: 8rem;
    margin-bottom: 1em;
  }

  &__product-name {
    font-size: 1.5rem;
  }

  &__description {
    font-size: 1.25rem;
  }

  &__about {
    padding: $bootstrap-gutter-double;
  }

  &__button {
    margin: 1.5rem 0 0;
    text-transform: uppercase;
  }
}

a.hpe-product-grid__link {
  display: block;
  margin-bottom: .5em;
  color: $white;

  .hpe-icon {
    color: $white;
  }
}