.select {  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: .0625rem solid currentColor;
    border-radius: 0;
    color: $dark;
    display: block;
    font-size: 1em;
    outline: none;
    padding: .5em .5em .5em 2em;
    width: 100%;
    cursor: pointer;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpolygon%20fill%3D%22%2358585A%22%20fill-rule%3D%22evenodd%22%20points%3D%220%204%2016%204%208%2012%22%2F%3E%3C%2Fsvg%3E');
    background-position: right .75em center;
    background-repeat: no-repeat;
    background-size: 1em;

    &:before {
      
    }

    &:focus {
      outline: .0625rem solid $primary;
    }
  }
}