.select {
  select {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-bottom: $border-width solid $dark-grey-4;
    border-radius: 0;
    color: $dark-grey-1;
    display: block;
    font-size: 1rem;
    outline: none;
    padding: 0.5em 0;
    width: 100%;
    cursor: pointer;
    background-color: white;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpolygon%20fill%3D%22%2358585A%22%20fill-rule%3D%22evenodd%22%20points%3D%220%204%2016%204%208%2012%22%2F%3E%3C%2Fsvg%3E");
    background-position: right 0.75em center;
    background-repeat: no-repeat;
    background-size: 1em;

    &:focus {
      border-bottom-color: $brand;
      outline: none;
    }
  }
}
