.hpe-signin {
  &__wrapper {
    background-size: cover;
    padding: ($header-height + 2rem) 0 2rem;
  }

  &__content {
    max-width: $large;
    margin: auto;
    @include stack-row(medium);
  }

  &__form:first-child:last-child {
    margin: auto;
  }

  &__subheader {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
  }

  &__description {
    margin: 0 0 1em;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 1.25;
  }

  &__section {
    position: relative;
    background-color: $transparent;
    padding: 1.5rem;
    height: 100%;
    margin-bottom: $bootstrap-gutter-double;

    &:first-child:last-child {
      margin-bottom: 0;
    }

    @include respond-to(medium) {
      margin-bottom: 0;
    }

    &--button {
      padding-top: 4em !important; /* stylelint-disable-line declaration-no-important */
      box-shadow: 1em 1em 2em transparentize($black, 0.8);
    }
  }

  //aside
  &__support {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__title {
    font-size: 3.125rem;
    line-height: 0.9;
    margin-bottom: 1.5rem;
  }

  &__support-title {
    margin: 0 0 4rem;
    font-size: 1.875rem;
  }

  &__links {
    margin: 2rem 0 0;
    display: flex;
    justify-content: space-between;

    a {
      border-bottom: $border-width solid currentColor;
      color: $black;
      font-weight: 500;
      font-size: 1.25rem;
      text-decoration: none;
    }
  }

  &__button {
    max-width: auto;
    width: 100%;
    text-transform: uppercase;
  }

  &__social {
    border-top: $border-width solid $light-grey-4;
    margin-top: 2rem;
    padding-top: 2rem;

    @include respond-to(large) {
      display: flex;
    }

    button {
      flex: 1 1 45%;

      &:first-of-type {
        margin-bottom: 1rem;

        @include respond-to(large) {
          margin-bottom: 0;
          margin-right: 1rem;
        }
      }
    }
  }

  &__close {
    position: absolute;
    top: $bootstrap-gutter / 2;
    right: $bootstrap-gutter / 2;
    color: $dark-grey-1 !important; /* stylelint-disable-line declaration-no-important */
    font-size: 1.5rem !important; /* stylelint-disable-line declaration-no-important */
  }
}
