.hpe-signin {
  &__wrapper {
    background-size: cover;
    padding: 9rem 0;
  }

  &__content {
    max-width: $large;
    margin: auto;
  }

  &__subheader {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    font-weight: 700;
  }

  &__description {
    margin: 0 0 1em;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 1.25;
  }

  &__section {
    background-color: $transparent;
    padding: 1.5rem;
  }

  //aside
  &__support {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__title {
    font-size: 3.125rem;
    line-height: 0.9;
    margin-bottom: 1.5rem;
  }

  &__support-title {
    margin: 0 0 4rem;
    font-size: 1.875rem;
  }
  
  &__already-have-account {
    text-align: center;
    margin: 2rem auto;

    a {
      border-bottom: $border-width solid currentColor;
      color: $black;
      font-weight: 500;
      font-size: 1.25rem;
      text-decoration: none;
    }
  }
  
  &__social {
    border-top: $border-width solid $light-grey-4;
    margin-top: 2rem;
    padding-top: 2rem;
  }  
}

//social
