.hpe-signin-wrapper {
    background-image: url("images/signin-bg-large@2x.png");
    background-size: cover;

    padding: 1rem;

    @include respond-to ('medium') {
        padding: 3rem 2rem;
    }

    @include respond-to ('large') {
        padding: 7rem 8rem;
    }

    @include respond-to ('ex-large') {
        padding: 8rem 12rem;
    }
}
//sigin form
.hpe-signin-form {
    background-color: $transparent;
    height: 100%;
    padding: 20px;

    button {
        width: 100%;
    }
}

.hpe-section-title {
    font-size: 3.125rem;
    line-height: .9;

    &:after {
        content: '';
        background-color: $brand;
        display: block;
        margin-top: 20px;
        height: 5px;
        width: 80px;
    }
}

.hpe-signin-already-have-account {
    text-align: center;

     a {
        border-bottom: 1px solid $dark-grey-1;
        color: $black;
        display: inline-block;
        font-weight: 500;
        font-size: 1.25rem;
        margin: 3rem auto;
        text-align: center;
        text-decoration: none;
    }
        
}

//social
.hpe-signin-social {
    border-top: $border-width solid $light-grey-4;
    margin-top: 1rem;
    padding-top: 1rem;
}

//aside
.hpe-signin-support {
    
    //custom gutter
    background-color: $transparent;
    height: 100%;
    padding: 20px;
    @include respond-to('medium') {
        margin-left: 10px;
    }

     ul {
         margin: 0;
         padding: 0;

         li {
            list-style: none;
         }
     }
}