.sign-in {
    
    button {
        width: 100%;
    }

    .signin-social {
        border-top: 1px solid $dark-grey-3;
        margin-top: 1rem;
        padding-top: 1rem;

        .social-links {
            @include clearfix();
            @include button ();
            font-size: 1rem;
            width: 45%;
    
            &:first-child {
                float: left;
            }
    
            &:last-child {
                float: right;
    
            }
        }
    }

    .already-have-account {
        text-align: center;
        
        a {
            color: $black;
            display: inline-block;
            font-weight: 400;
            font-size: 1.25rem;
            margin: 3rem auto;
            text-align: center;
            text-decoration: none;
        }
        
    }
}