.hpe-support-wrapper {
    background-color: $light-grey-1;
    box-shadow: 0 4px 6px $light-grey-2;

}
.hpe-support-content {
    max-width: 75rem;
    margin: 0 auto;
    padding: 4.5625rem 0;
    width: 100%;
}
.hpe-support-content--p {
    padding-bottom: 1.75rem;
}

.hpe-support-content--p--strong {
    font-weight: 600;
}
.hpe-support-bgimage {
    background-image: url("/assets/toolkit/images/support@2x.png");
    background-size: cover;
    min-height: 600px;
    height: 600px; 
}

.hpe-support-squares {
    background-color: $white;
    border: 1px solid lime;
    height: 100px;
}

.test {
    background-color: $white;
    height: 500px;
}

.one {
background-color: pink;
height: 100px;
margin-left: 2%;
margin-bottom: 2%;
}

.two {
    background-color: teal;
    height: 100px;
    margin-left: 2%;
    margin-bottom: 2%;
}
