.hpe-top-sellers {
  background: $light-grey-1;
  padding: 4rem $bootstrap-gutter;

  @include respond-to(ex-large) {
    padding: 4rem 0;
  }

  .col-sm-6:nth-child(even) {
    padding-left: 0;
  }

  &__item {
    background: $white;
    padding: $bootstrap-gutter-double;
    margin-bottom: $bootstrap-gutter;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - #{$bootstrap-gutter});
  }

  &__image {
    flex: 1 1 100%;

    @include respond-to(medium) {
      flex: 0 0 50%;
      align-self: center;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__body {
    padding-left: $bootstrap-gutter-double;
    text-align: center;

    @include respond-to(medium) {
      flex: 0 1 50%;
    }
  }

  &__product-name {
    font-size: 1.5rem;
  }

  &__description {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }

  &__price {
    font-size: 1.25em;
    margin-bottom: 1rem;
  }

  &__button {
    display: block;
  }
}
