h1, h2, h2, h4, h5 {
  font-weight: 100;
}

.hpe-headline {
  font-weight: 100;
  margin: 0 0 1.5rem; 

  &--xlarge {
    font-size: $headline--xlarge;
  }

  &--large {
    font-size: $headline--large;
  }

  &--medium {
    font-size: $headline--medium;
  }

  &--small {
    font-size: $headline--small;
  }
  
  &--strong {
    font-weight: 600;
  }
  
  &--black {
    font-weight: 900;
  }

  &--caps {
    text-transform: uppercase;
  }
}