//hidden content for screenreaders
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hpe-centered-section {
  max-width: $ex-large;

  @include respond-to(large) {
    margin: auto;
    width: 100%;
  }
}
