// Don't add variables to these partials. They are designed to work with JSON to Sass build process.
@import 'build/default-variables';
@import 'build/import-variables';

// Carry on These variables can not be touched...

$border: $border-width solid $border-color;
$transition-time: 0.1s ease-in-out;
$transition: all 0.2s ease-in-out;
$transparent:rgba(255, 255, 255, 0.9);
$bootstrap-gutter: 15px;

//buttons
$button-padding: 6px 22px;