// Don't add variables to these partials. They are designed to work with JSON to Sass build process.
@import 'build/default-variables';
@import 'build/import-variables';

// Carry on These variables can not be touched...

$border: $border-width solid $border-color;
$transition--fast: 0.1s;
$transition--medium: 0.2s;
$transition--normal: 0.3s;
$transition--slow: 0.4s;
$transparent:rgba(255, 255, 255, 0.9);
$bootstrap-gutter: $grid-gutter-width / 2;
$double-border: $border-width * 2;

//buttons
$button-padding: 6px 22px;